<!-- HEADER -->
<div class="login-header py-3 shadow-sm" style="background-color: #d70018;">
  <div class="container">
    <a routerLink="/products" class="text-white text-decoration-none fw-bold fs-4 me-4 align-items-center gap-2">
      <img src="../../../assets/favicon_io/favicon-32x32.png" alt="Logo" class="me-2">
      <span>STech</span>
    </a>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="login-container">

  <h2 class="title text-center">Đăng nhập</h2>

  <form (ngSubmit)="login()" class="login-form">

    <!-- Email -->
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control input-box" placeholder="Nhập email của bạn" [(ngModel)]="email"
        name="email" required>
    </div>

    <!-- Mật khẩu -->
    <div class="mb-3 position-relative">
      <label class="form-label">Mật khẩu</label>
      <input type="password" class="form-control input-box" placeholder="Nhập mật khẩu của bạn" [(ngModel)]="password"
        name="password" required>

      <span class="toggle-eye">👁️</span>
    </div>

    <!-- Button Đăng nhập -->
    <button class="btn btn-danger w-100 login-btn">Đăng nhập</button>

    <!-- Đăng ký -->
    <div class="text-center mt-4">
      <span>Bạn chưa có tài khoản?</span>
      <a routerLink="/register" class="register-link"> Đăng ký ngay</a>
    </div>

  </form>
</div>